<h4>Glossary Lists</h4>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let glossary of glossarys; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{glossary.fname}}</td>
        <td>{{glossary.glossary_name}}</td>
        <td>{{glossary.email}}</td>
        <td>
          <a
          class="btn btn-danger btn-sm "
          routerLink="/glossary/{{ user.id }}"
        > Edit </a></td>
        <td></td>
      </tr>     
    </tbody>
  </table>
  